<phpunit bootstrap="./Bootstrap.php"
         colors="true" >
    <php>
        <ini name="display_errors" value="1" />
        <const name="ENVIRONMENT" value="testing" />
     </php>
    <testsuites>
        <testsuite name="libTest cases">
            <directory>./libTest</directory>
        </testsuite>
    </testsuites>
</phpunit>